@charset "utf-8";
/* 보그코리아 메인 CSS - main.css */

/* 웹폰트 */

/* 'Roboto체','Roboto Condensed체' */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300&display=swap');

/* 나눔바른고딕 */
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

/* pistilli체 */
@import url('http://fonts.cdnfonts.com/css/pistilli');

/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'NanumBarunGothic', sans-serif;
    font-family: 'Pistilli', sans-serif;
*/

/* 공통 초기화 */
html,body,ol,ul,h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
img{
    border: none;
}

/* 공통 class */

/* 중앙속박스 */
.ibx{
    width: 1300px;
    max-width: 100%;
    /* 1300px보다 작아지면 100%적용 */
    margin: 0 auto;/* 블록가로중앙 - 마영오! */
    /* outline: 3px dashed blue; */
}

/* 비율유지박스 */
.rbx{
    position: relative;
    /* 부모자격(.rbxIn) */
}
/* 가상요소 패딩비율밀기 */
.rbx::before{
    content: '';
    display: block;
}
/* 스타일별 비율셋팅 */
.st1.rbx::before{/* 1파티션 */
    padding-top: 55.7%;
}
.st3.rbx::before{/* 3파티션 */
    padding-top: 50%;
}
/* 가상요소속박스 */
.rbxIn{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* 파티션 박스 */
.pbx{
    position: relative;
    height: 100%;
    overflow: hidden;

    /* outline: 2px dotted red; */
}
/* 파티션박스 가상요소로 보더애니구현 */
.pbx::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    /* 보더때문에 커지지 않도록 크기유지! */
    
    border: 0px solid transparent;/* 이거추가!!! */
    transition: all .2s ease-in;
}

/* .pbx에 마우스 오버시 보더 생기기 */
.pbx:hover::after{
    border: 20px solid #f00;
}

/* 파티션 박스 스타일1 */
.st1 .pbx{
    width: 100%;
}
/* 파티션 박스 스타일2 */
.fbx{/* 플랙스박스 */
    display: flex;
}
.st3 .pbx{
    flex: 1;
}

/* 숨기기 class (IR) */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 임시 아웃라인 */
/* body *{
    outline: 1px dashed #ccc;
} */

/*********** 파트별 개별 디자인 ***********/

/* 1. 상단영역 */
.top.ibx{
    position: relative;
    /* 부모자격 - .hbtn, .sbtn (모바일용버튼 2개) */
    min-height: 206px;
    /* 최소높이 206px, 만약 내용이 많아지면 늘어남! */
}
/* 1-1.상단메뉴 */
.tmenu{
    display: flex;
    width: 970px;
    max-width: 100%;
    /* 화면이 내크기보다 작아지면 화면에 맞춤! */
    height: 44px;
    margin: 0 auto;/* 가로중앙 */
}
.tmenu>div{
    flex: 1;/* 등분할 */
}
/* 1-1-1. sns박스 */
/* sns박스 a */
.sns a{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 15px;
    margin-right: 16px;
    font-size: 16px;
    /* 안줘도 html에서 상속된 
    글자 기본크기가 16px임 */
    text-align: center;
    /* 박스내의 인라인요소 가로중앙정렬 */
    vertical-align: top;
    /* 인라인 요소간 세로정렬(top-윗줄맞춤) */
    line-height: 16px;
    /* 글자가 박스 세로 중앙에 오도록 설정 */

    /* 트랜지션 */
    transition: all .2s;
}
/* 마우스 오버시 변경 */
.sns a:hover {
    opacity: 0.8;
}

/* 트위터 아이콘 박스 */
.sns a.fi-twitter{
    font-size: 13px;
    /* 가로크기가 16px에 맞게 글자크기조정 */
}
/* 유튜브 아이콘 박스 */
.sns a.fi-youtube-play{
    font-size: 11px;
    /* 가로크기가 16px에 맞게 글자크기조정 */
}
/* sns 마지막 a요소에 카스아이콘 넣기 */
.sns a:last-child{
    background: url(../images/sns_kakao.png) no-repeat center/auto 100%;
}
/* 1-1-2. 사이드메뉴 */
.sideMenu{
    position: relative;
    /* 부모자격 */
}
.smbx{
    position: absolute;
    /* 앱솔위치이동 + 부모자격(.smsub) */
    right: 0;
    display: flex;
}
.smbx>li{
    width: 88px;
    height: 44px;
}
/* 사이구분선 */
.smbx>li:first-child{
    border-right: 1px solid #e5e5e5;
}
.smbx>li>a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 44px;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #747474;
}
/* 첫번째 li의 a요소 오버시 손가락모양 없애기 */
.smbx>li:first-child>a{
    cursor: text;/* 텍스트선택모양 */
}

/* 사이트메뉴 서브메뉴 */
.smsub{
    position: absolute;
    /* 부모는? .smbx */
    /* 위치이동값을 안쓰면 젠틀앱솔루트! */
    width: 120px;
    height: 0;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;

    overflow: hidden;
    /* height:0 으로 자식요소 숨기기 */
    opacity: 0;

}
/* 상위메뉴 오버시 서브메뉴 보이기 */
.smbx>li:hover .smsub{
    height: 89px;
    opacity: 1;
    /* 트랜지션 */
    transition: opacity .2s ease-in-out;
}
.smsub li{
    width: 100%;
    height: 33.333%;
}
.smsub a{
    display: block;
    width: 100%;
    height: 100%;

    font-family: 'Pistilli','NanumBarunGothic', sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: #747474;

    box-sizing: border-box;
    padding: 7px 10px;/* 위아래, 양쪽 */

    /* 트랜지션 */
    transition: all .2s ease-in-out;
}
/* 마우스 오버시 */
.smsub a:hover{
    background-color: #fafafa;
    color: #333;
}


/* 1-2.로고박스 */
.logo{
    text-align: center;
}
/* 1-3.GNB박스 */
.gnb{
    position: relative;
    min-height: 45px;
    /* 최소높이 45px유지, 내용이 많아지면 늘어남! */

    /* 글자설정 */
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
}
/* GNB메뉴 플렉스 박스 */
.gnb>ul{
    display: flex;
    flex-wrap: wrap;
    /* 플렉스 자식요소가 부모박스크기 보다 
    많아서 크기가 넘치면 아래로 떨어짐 설정 */    
    justify-content: center;
    /* 줄바꿈하여 내려가면 여러줄된 내용이 가로중앙정렬함! */
    width: 758px;
    max-width: 100%;
    /* width보다 화면이 작아지면 100%적용 */
    margin: 0 auto;/* 가로중앙정렬 */
}
.gnb>ul>li{
    margin: 0 23px;
}
/* 마지막 검색li의 a요소 */
.gnb li:last-child a{
    display: inline-block;
    width: 16px;
    height: 16px;
    font-weight: bold;
}
/* 링크 트랜지션 */
.gnb a{
    transition: color .3s;
}
/* 마우스 오버시 글자색 */
.gnb a:hover{
    color: #f00;
}

/* 모바일 전용버튼 */
.mobtn{/* 공통 */
    position: absolute;
    /* 부모는? #top(모바일에서 fixed) */
    width: 21px;
    height: 21px;
    top: 50%;
    transform: translateY(-50%);
    /* 세로중앙이동 */
}
/* 모바일용 햄버거 버튼 */
.hbtn{
    left: 10px;
    font-size: 15px;
}
/* 모바일용 검색버튼 */
.sbtn{
    right: 10px;
    font-size: 21px;
    font-weight: bold;
}

/* 1.5. 모바일 전체메뉴박스 (#top의 하위자식으로 편성) */
#mobx{
    padding-left: 15px;
    padding-top: 6px;
    background-color: #fff;
}
/* 1.5-1.모바일 GNb */
.mognb{
    padding-left: 15px;
}
.mognb a{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 300;
    line-height: 2;
    color: #333;
}
/* 1.5-2. 모바일 SNS */
.mosns{
    margin-top: 24px;
    margin-left: 13px;
}
/* sns박스 a */
.mosns a{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 2px 10px;
    font-size: 20px;
    text-align: center;
    /* 박스내의 인라인요소 가로중앙정렬 */
    vertical-align: top;
    /* 인라인 요소간 세로정렬(top-윗줄맞춤) */
    line-height: 40px;
    /* 보더가 2px내부에 포함되어서 2px뺀 높이와 같음! */
    /* 글자가 박스 세로 중앙에 오도록 설정 */

    /* 원형디자인 */
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    box-sizing: border-box;/* 보더포함 */
}
/* 트위터 아이콘 박스 */
.mosns a.fi-twitter{
    font-size: 16px;
    /* 가로크기가 16px에 맞게 글자크기조정 */
}
/* 유튜브 아이콘 박스 */
.mosns a.fi-youtube-play{
    font-size: 15px;
    /* 가로크기가 16px에 맞게 글자크기조정 */
}
/* mosns 마지막 a요소에 카스아이콘 넣기 */
.mosns a:last-child{
    background: url(../images/sns_kakao.png) no-repeat center/auto 50%;
}

/* 1.5-3.잡지표지 */
.mcover{
    display: block;
    margin: 10px 30px 0 15px;
}
.mcover img{
    width: 100%;
}


/* 2. 메인영역 */
/* 배경이미지 공통 */
.bgi{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* 개별 배경이미지 class */
.bgi1{
    background-image: url(../images/cont1a.jpg);
}
.bgi2-1{
    background-image: url(../images/cont2-1.jpg);
}
.bgi2-2{
    background-image: url(../images/cont2-2.jpeg);
}
.bgi2-3{
    background-image: url(../images/cont2-3.jpg);
}
.bgi3{
    background-image: url(../images/cont3a.jpg);
}
.bgi4-1{
    background-image: url(../images/cont4-1.jpg);
}
.bgi4-2{
    background-image: url(../images/cont4-2.jpg);
}
.bgi4-3{
    background-image: url(../images/cont4-3.jpg);
}
.bgi5{
    background-image: url(../images/cont5a.jpg);
}
.bgi6-1{
    background-image: url(../images/cont6-1.png);
}
.bgi6-2{
    background-image: url(../images/cont6-2.jpg);
}
.bgi6-3{
    background-image: url(../images/cont6-3.png);
}
.bgi7-1{
    background-image: url(../images/cont7-1.jpg);
}
.bgi7-2{
    background-image: url(../images/cont7-2.jpg);
}
.bgi7-3{
    background-image: url(../images/cont7-3.jpg);
}

/* 컨텐츠 타이틀 박스 */
.pbx h2{
    position: absolute;
    bottom: 0;
    width: 100%;

    font-family: 'Pistilli','NanumBarunGothic', sans-serif;
    font-size: 33px;
    font-weight: 200;/* 두꺼운체 해제 */
    color: #fff;
    text-align: center;

    box-sizing: border-box;
    padding: 50px;
}
/* 컨텐츠 타이틀 박스에 가상요소로 배경넣기(글자잘보이게!) */
.pbx::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(to top, #000, transparent);
    opacity: 0.7;
}

/* 3. 하단영역 */
.info.ibx{
    min-height: 285px;
    /* 내용이 늘면 늘어남! */
    background-color: #000;
    box-sizing: border-box;
    padding: 70px;
}
/* 3-1.하단로고 */
.blogo{
    text-align: center;
}
/* 3-2.회사주소 */
.addr{
    color: #fff;
    font-style: normal;/* 이탤릭해제 */
    text-align: center;
    font-family: Roboto;
    font-size: 11px;
    color: #747474;
    margin: 20px 0 10px;
}
/* 3-3.하단링크 */
.blink{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* 한줄 컨텐트 가로중앙위치 */
}
.blink a{
    font-family: 'Pistilli','NanumBarunGothic', sans-serif;
    font-weight: 200;
    color: #747474;
    font-size: 13px;
    margin: 0 5px;
}