@charset "utf-8";
/* 인트로 페이지 - main.css */

/* 웹폰트 : Noto Sans KR , Work Sans체 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Work+Sans&display=swap');

/* 웹폰트 */
/* NanumGothic체 */
@font-face {
    font-family: NG;
    src: url(../fonts/NanumGothic.woff) format("woff");
}
/* Ubuntu체 */
@font-face {
    font-family: UB;
    src: url(../fonts/UbuntuCondensed-Regular.woff) format("woff");
}

/* 
 웹폰트 설정
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Work Sans', sans-serif;
 */

html{
    font-size: 10px;
    
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* 보이는 화면기준 채우기 */
    /* body하위 요소의 높이값 %의 기준이됨! */
    /* overflow: hidden; */
    /* 스크롤바 없애기(스크롤안됨!) */
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* 공통셋팅 */
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul::after {
    /* float해제 */
    content: '';
    display: block;
    clear: both;
}

li {
    float: left;
    /* 옆으로 흐르게 */
}

img {
    border: none;
    /* 이미지 링크시 테두리없앰 */
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 공통 class */

/* 페이지 공통 class */
.page {
    position: relative;
    /* 부모자격(.minfo) */
    width: 100%;
    height: 100%;
    /* 한페이지 보이는 화면 채우기 */
    overflow: hidden;
    /* 넘치는 자식요소 숨기기 */
    /* 
                width: 100vw;
                height: 100vh;
                보이는 화면 기준의 뷰포트단위를 쓰면
                body의 height 100%가 필요없다!
                왜냐하면 보이는 화면을 기준하니까!
                단, vw단위는 스크롤바 트랙까지 포함한
                화면 전체를 기준하므로
                데스트탑에서는 100%를 사용하는게 좋다!
                (이유는 가로스크롤바가 생기게 되므로!)
             */
}

/* IR(배경이미지 설명 숨기기) class */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 중앙 속박스 */
.ibx {
    width: 1920px;
    max-width: 100%;
    /* 1920px보다 작을땐 100%를 유지함! */
    margin: 0 auto;
    /* 마영오 - 중앙정렬 */
}

/* 1. 상단영역 */
#top {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: rgb(255 254 254);
    box-shadow: 0 1px 0 #aaa;
}

/* 상단영역 속박스 */
.top {
    position: relative;
}

/* 1-1.로고 */
#logo {
    width: 10%;
}

#logo img {
    width: 100%;
}

/* 1-2. GNB 메뉴 */
.gnb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
}


.gnb li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.gnb a {
    position: relative;
    font-size: 1.6rem;/* html글자크기 * 2 */
    color: #000;
    font-weight: normal;
    font-family: UB;/* Ubuntu체 */
}

.gnb li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -7px;
    left: 0;
    background-color: steelblue;
    visibility: hidden;
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out;
}


.gnb a:hover,
.gnb li.on a {
    color:  steelblue;
    text-shadow: 0 0 2px steelblue;
}

.gnb a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}



/* 2. 페이지영역 */
/* 개별 페이지 셋팅 */
/* 페이지 1 */
#pg1 {
    background: rgb(238, 238, 238);
    background-attachment: fixed;
}
#pg1 h1{
    font-family: 'Work Sans', sans-serif;
}
#pg1 h2{
    font-family: 'Noto Sans KR', sans-serif;
}

/* 페이지 2 */
#pg2 {
    background: #fff;
    background-attachment: fixed;
}

/* 페이지 3 */
#pg3 {
    background: url(../images/newstart.jpg) no-repeat bottom/cover;
    background-attachment: fixed;
}

/* 페이지 4 */
#pg4 {
    background: rgb(159, 200, 209);
    background-attachment: fixed;
}


/* 인디케이터 */
.indic {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    /* 세로중앙이동 */
    left: 4%;
    width: 20px;
    /* outline: 3px dotted blue; */
}
.indic ul{
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.indic li {
    width: 10px;
    height: 10px;
    margin: 5px 0;
    cursor: pointer;
    display: block;
    background: #fff;
    border: 1px solid #333;
    box-sizing: border-box;
    border-radius: 5px;
    outline: 0;
}

/* a요소 */
.indic a {
    display: none;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background-color: #fff;
    transition: width .4s;
}

/* 마우스 오버시 + 클래스 "on" */
.indic li:hover a,
.indic li.on  {
    width: 33px;
    background: #314172;
}

/* 설명글자숨기기 */
.indic span {
    display: none;
}

/* 페이지영역 정보 박스 */

.minfo1 {
    position: relative;
    top: 54%;
    left: 62%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 80vh;
    box-shadow: 0 0 20px #fff;
    border-radius: 20px;
    background: rgb(153, 175, 211);
}

.minfo2 {
    position: relative;
    top: 54%;
    left: 62%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 80vh;
    box-shadow: 0 0 20px #fff;
    border-radius: 20px;
    background: rgb(153, 175, 211);
}

.minfo3 {
    position: relative;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 75vh;
    box-shadow: 0 0 20px #fff;
    border-radius: 20px;
}

.minfo4 {
    position: relative;
    top: 54%;
    left: 62%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 80vh;
    box-shadow: 0 0 20px #fff;
    border-radius: 20px;
    background: rgb(153, 175, 211);
}


/* 페이지 제목 */
.minfo>h1 {
    font-size: 44px;
    padding: 5px;
    text-align: center;
}

/* 한자처리 */
.minfo>h1>span {
    font-size: 28px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 페이지 정보 */
.minfo>h3 {
    font-size: 28px;
    padding: 3px;
}




/**************************** sec1 ****************************/

/* 배경비디오 */
#myvid {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}

/* 배경메인글 */
.maintit {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 50px;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px #000, 1px 0 #000, 0 -1px #000, -1px 0 #000;
    white-space: nowrap;
    z-index: 1;
}

.side1{
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 26px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px #000, 1px 0 #000, 0 -1px #000, -1px 0 #000;
    text-align: center;
    z-index: 1;
}

.side2{
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 26px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px #000, 1px 0 #000, 0 -1px #000, -1px 0 #000;
    text-align: center;
    z-index: 1;
}

.side3{
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 20px;
    top: 62.8%;
    left: 68%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px #000, 1px 0 #000, 0 -1px #000, -1px 0 #000;
    text-align: center;
    z-index: 1;
}

.side4{
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 30px;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px #000, 1px 0 #000, 0 -1px #000, -1px 0 #000;
    text-align: center;
    z-index: 1;
    white-space: nowrap;
}

.titbox{
    width: 100%;
    height: 121%;
    position: absolute;
    background: #0006;
    top: 39.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

/******************** 슬라이드 ********************/

.slidebox1 {
    min-height: 30vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
    /* outline: 2px solid red; */
    bottom: 0;
    background-color: #ffffff9c;
    box-shadow: 0 -1px 0 #aaa;
}

.slide1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide1 li{
    position: absolute;
    /* 서로겹침 */
    opacity: 0;
    /* 모두투명하게 */
    transition: .6s;
    /* 트랜지션 */
}

/* 슬라이드 중 현재 슬라이드 클래스 */
.slide1 li.on{
    opacity: 1;/* 보이게 */
    z-index: 1;/* 맨위에 */
}

.imgbox1{
    position: absolute;
    width: 38vw;
    height: 24vh;
    top: 3vh;
    left: 9vw;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2%;
}

.slide1 li img:nth-child(1) {
    position: absolute;
    width: 20vw;
    height: 20vh;
    top: 20px;
    left: 20px;
    box-sizing: border-box;
    border-radius: 2%;
}

.imgbox2{
    position: absolute;
    width: 38vw;
    height: 24vh;
    top: 3vh;
    left: 53vw;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2%;
}

.slide1 li img:nth-child(2){
    position: absolute;
    width: 20vw;
    height: 20vh;
    top: 20px;
    left: 20px;
    box-sizing: border-box;
    border-radius: 2%;
}

.slide1 span {
    display: block;
    height: 100%;
    text-align: left;
    margin-left: 23vw;
    margin-top: 3vh;
    line-height: 6vh;
    font-size: 1.5vw;
    font-weight: bold;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}


/**************************** sec2 ****************************/

.pack {
    position: absolute;
    padding: 110px 100px;
    z-index: 1;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

.inbox{
    left: 50%;
    max-width: 70vw;
    position: relative;
    width: 100%;
    height: auto;
    transform: translate(-50%, 0%);
    box-sizing: border-box;
    outline: 2px solid;
}

/* 원박스 */
.sec2box{
    width: 20vw;
    height: 20vh;
    outline: 2px solid red;
}





/**************************** sec3 ****************************/

.tm>ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.tm>li {
    float: left;
}


/* 전체부모박스 */
.wrap {
    position: relative;
    max-width: 80vw;
    max-height: 76vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(255 252 252 / 80%);
    border-radius: 20px;
    box-shadow: 0 0 10px #fff;
}

/* 타이틀 */
#tit {
    font-size: 3vw;
    margin: 0px;
    text-align: center;
    border-bottom: 3px double rgba(0, 0, 0, 0.665);
    padding-bottom: 2vh;
    text-shadow: 0 0 5px rgb(0 0 0 / 67%);
}

/* 프로젝트 박스 공통 */
.pjbx {
    width: 50%;
    float: left;
    padding: 15px;
    line-height: 5vh;
    /* 
     50%로 옆으로 흐르면 
     2개의 블록박스가 나란히 오는데
     이때 패딩을 주면 박스가 커지므로
     하나가 아래로 내려간다
     (50%넘으므로!)
     이때 해결책!!!
     보더나 패딩이 지정한 사이즈
     내부로 포함되게 하는속성이 있다
     box-sizing:border-box
  */
    box-sizing: border-box;
    /* 기본값은 content-box(커지는박스) */
}

/* 프로젝트 영역 타이틀 */
.pjbx h2 {
    font-family: 'Gugi', cursive;
    font-size: 2vw;
    color: steelblue;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.665);
    border-radius: 13px;
    text-shadow: 0 0 1px #000;
    box-shadow: 0 0 5px #000;
}

.cpj h2 {
    background-color: rgba(255, 231, 231, 0.44);
    line-height: 6vh;
}

.mpj h2 {
    background-color: rgba(217, 243, 255, 0.44);
    line-height: 6vh;
}

/* 각 박스의 ol리스트 */
.pjbx>ol {
    font-size: 24px;
    line-height: 6vh;
    /* 기본 ol셋팅 초기화 */
    margin: 0;
    padding: 0;
    list-style: none;
    /* 맨앞 표시자 없앰 */
    display: flex;
    flex-direction: column;
}

/* 각 박스의 li */
ol>li {
    margin-left: 40px;
    line-height: 70px;
}

ol>li:first-child {
    padding-top: 15px;
}

/* 각 박스의 a링크 */
.pjbx a {
    font-family: UB;
    font-size: 2vw;
    color: #000;
    text-decoration: none;
    text-shadow: 0 0 5px #000;
    line-height: 50px;
    transition: .5s ease-in-out;
    margin-left: 10px;
}

/* 오버시 */
.pjbx li a:hover {
    color: steelblue;
    text-decoration: underline;
    /* 아랫줄 */
    font-size: 2.7vw;
    text-shadow: 0 0 1px #000;
}

.pjbx li a::before {
    position: absolute;
    content: "❤";
    font-size: 24px;
    margin-top: 1vh;
    margin-left: -2.2vw;
    color: steelblue;
    opacity: 0;
    transition: .5s ease-in-out;
    text-shadow: 0 0 1px #000;
}


.pjbx li a:hover::before {
    opacity: 1;
}



/* 세로 분류 선 만들기 */
.pjbx::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 0px;
    height: 70%;
    top: 26%;
    border-right: 5px dotted rgb(58, 58, 58);
}


/* 탭메뉴 */
.tm {
    position: relative;
    width: 12vw;
    height: 40px;
    top: -5vh;
    left: 66.5vw;
}

.tm>li {
    position: absolute;
    width: 5.5vw;
    height: 40px;
}

.tm li:nth-child(1) {
    left: 0;
}

.tm li:nth-child(2) {
    left: 5.5vw;
}

.tm>li>a {
    position: absolute;
    width: 100%;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    transition: .5s;

}

.tm>li:hover a {
    text-shadow: 0 0 1px #000;
    transform: scale(1.1);
    color: red;
}

/**************************** sec4 ****************************/


/* 스크롤 박스 */
.scroll {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px;
    z-index: 999;
}

/* 스크롤 마우스 */
.scrollin {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 35px;
    border: 2.5px solid #314172;
    border-radius: 7px;
}

.scrollin::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 6.5px;
    height: 6.5px;
    border-radius: 50%;
    background-color: #f60;
    animation: k_scroll 1.2s ease-out infinite;
}

@keyframes k_scroll {
    to {
        top: 60%;
        opacity: 0;
    }
}

.scroll a {
    position: absolute;
    top: 40px;
    left: 50%;
    color: #314172;
    font-family: UB;
    font-size: 1.4rem;
    transform: translateX(-50%);
}

/* 위로가기버튼 */
.tbtn{
    position: fixed;
    bottom: 27px;
    right: 40px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px 4px 0 0;
    background-color: #333;
    color: #fff;
    opacity: 0.9;
    z-index: 999;
    display: none;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
}

.tbtn P{
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%,-50%);
    font-family: UB;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 4px;
}

.fi {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    font-family: "fontisto";
    font-size: 14px;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fi-angle-up:before {
    content: "\e96b";
}