@charset "utf-8";
/* 인트로 페이지 - main.css */

/* 웹폰트 : Hi Melody체 */
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Gugi&display=swap');

/* 
 웹폰트 설정
 font-family: 'Gaegu', cursive;
 font-family: 'Gugi', cursive;
 font-family: 'Hi Melody', cursive;
 */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* 보이는 화면기준 채우기 */
    /* body하위 요소의 높이값 %의 기준이됨! */
    overflow: hidden;
    /* 스크롤바 없애기(스크롤안됨!) */
}

/* 공통셋팅 */
a {
    text-decoration: none;
    color: #555;
    text-shadow: 0 0 2px #555;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul::after {
    /* float해제 */
    content: '';
    display: block;
    clear: both;
}

li {
    float: left;
    /* 옆으로 흐르게 */
}

img {
    border: none;
    /* 이미지 링크시 테두리없앰 */
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* 공통 class */

/* 페이지 공통 class */
.page {
    position: relative;
    /* 부모자격(.minfo) */
    width: 100%;
    height: 100%;
    /* 한페이지 보이는 화면 채우기 */
    overflow: hidden;
    /* 넘치는 자식요소 숨기기 */
    /* 
                width: 100vw;
                height: 100vh;
                보이는 화면 기준의 뷰포트단위를 쓰면
                body의 height 100%가 필요없다!
                왜냐하면 보이는 화면을 기준하니까!
                단, vw단위는 스크롤바 트랙까지 포함한
                화면 전체를 기준하므로
                데스트탑에서는 100%를 사용하는게 좋다!
                (이유는 가로스크롤바가 생기게 되므로!)
             */
}

/* IR(배경이미지 설명 숨기기) class */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 중앙 속박스 */
.ibx {
    width: 1920px;
    max-width: 100%;
    /* 1920px보다 작을땐 100%를 유지함! */
    margin: 0 auto;
    /* 마영오 - 중앙정렬 */
}

/* 1. 상단영역 */
#top {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: rgb(255 254 254);
    box-shadow: 0 1px 5px #ccc;
}

/* 상단영역 속박스 */
.top {
    position: relative;
    height: 9vh;
}

/* 1-1.로고 */
#logo {
    width: 250px;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#logo img {
    width: auto;
    height: 100%;
}

/* 1-2. GNB 메뉴 */
.gnb {
    position: absolute;
    /* 부모는? .top */
    top: 40px;
    right: 2%;
}

.gnb li {
    margin: 0 7px;
}

.gnb a {
    font-size: 1vw;
}

/* 메뉴에 마우스 오버시 + li에 on클래스 있는 경우 */
.gnb a:hover,
.gnb li.on a {
    display: inline-block;
    transform: scale(1.1);
    color: steelblue;
    text-shadow: 1px 1px 1px steelblue;
    text-decoration: underline;
}

/* 2. 페이지영역 */
/* 개별 페이지 셋팅 */
#pg1 {
    background: rgb(238, 238, 238);
}


#pg2 {
    background: rgb(159, 200, 209);
}

#pg3 {
    background: rgb(159, 200, 209);
}

#pg4 {
    background: rgb(159, 200, 209);
}


/* 인디케이터 */
.indic {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    /* 세로중앙이동 */
    left: 5%;
    width: 20px;
    /* outline: 3px dotted blue; */
}

.indic li {
    width: 100%;
    height: 10px;
    margin: 3px 0;
    cursor: pointer;
    /* 손가락모양 */
}

/* a요소 */
.indic a {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background-color: #ccc;
    box-shadow: 1px 1px 1px #777;
    transition: width .4s;
}

/* 마우스 오버시 + 클래스 "on" */
.indic li:hover a,
.indic li.on a {
    width: 150%;
    background-color: #fff;
}

/* 설명글자숨기기 */
.indic span {
    display: none;
}

/* 페이지영역 정보 박스 */

.minfo1 {
    position: relative;
    top: 54%;
    left: 62%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 80vh;
    box-shadow: 0 0 20px #fff;
    border-radius: 20px;
    background: rgb(153, 175, 211);
}

.minfo2 {
    position: relative;
    top: 54%;
    left: 62%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 80vh;
    box-shadow: 0 0 20px #fff;
    border-radius: 20px;
    background: rgb(153, 175, 211);
}

.minfo3 {
    position: relative;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 75vh;
    box-shadow: 0 0 20px #fff;
    border-radius: 20px;
}

.minfo4 {
    position: relative;
    top: 54%;
    left: 62%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 80vh;
    box-shadow: 0 0 20px #fff;
    border-radius: 20px;
    background: rgb(153, 175, 211);
}


/* 영화제목 */
.minfo>h1 {
    font-size: 44px;
    padding: 5px;
    text-align: center;
}

/* 아수라 한자처리 */
.minfo>h1>span {
    font-size: 28px;
}

/* 영화정보 */
.minfo>h3 {
    font-size: 28px;
    padding: 3px;
}




/**************************** sec1 ****************************/

/* 배경비디오 */
#myvid {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}

/* 배경메인글 */
.maintit {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 50px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 2px #000, 2px 0 #000, 0 -2px #000, -2px 0 #000;
    white-space: nowrap;
}

/* 플럭스 적용 메뉴 */

.pack1 {
    position: absolute;
    background: rgb(255 255 255 / 80%);
    width: 80vw;
    height: 30vh;
    top: 60vh;
    left: 10vw;
}

/* ul 파티션 부모박스 */
.pack1>ul {
    display: flex;
    /* 
        [ flex 란? ]
        - 가변적인 자식요소를 컨트롤 하기 위해 CSS3에서 
        새롭게 선보인 display 기술
        - 자식요소를 같은 비율 혹은 다른비율로 분할이 쉽다
        - 자식요소의 순서를 일괄 변경할 수 있다
        - 무엇보다도 블록요소를 옆으로 흐르게 하는데 탁월하다!
        [ 셋팅법 ]
        - 옆으로 흐르게 할 부모요소에 display:flex로 설정함
        - 자식요소의 flex:1 설정하면 등분할 된다!
     */
    flex-direction: row;
    /* 
        flex-direction 속성은 진행방향과 순서를 설정함
        1) row : 좌 -> 우(기본값)
        2) row-reverse : 우 -> 좌
        3) column : 위 -> 아래
        4) column-reverse : 아래 -> 위
     */


    width: 100%;
    height: 100%;
}

/* 파티션 li공통 */
.pack1>ul>li {
    position: relative;
    /* 부모자격 */
    flex: 1;
    transition: all .4s ease-in-out;
}

/* 파티션 li에 마우스 오버시 가로커짐 */
.pack1>ul>li:hover {
    flex: 1.4;
    /* 오버된 li만 1.4배 커지고 나머지는 등분할 */
}

/* 파티션 li에 반투명 검은색 커버 만들기 */
.pack1>ul>li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    transition: opacity .6s;
}

/* li에 마우스 오버시 */
.pack1>ul>li:hover::before {
    opacity: 0;
}

/* 각 파티션 li */
.pack1>ul>li:nth-child(1) {
    background:
        url(../images/m01.png) no-repeat center/cover;
}

.pack1>ul>li:nth-child(2) {
    background:
        url(../images/m02.png) no-repeat center/cover;
}

.pack1>ul>li:nth-child(3) {
    background:
        url(../images/m03.png) no-repeat center/cover;
}

.pack1>ul>li:nth-child(4) {
    background:
        url(../images/m04.png) no-repeat center/cover;
}


/* 파트별 타이틀 + 로고 이미지 공통 */
.pack1>ul>li>img {
    position: absolute;
    top: 50%;
    left: 50%;
    /* 부모는? 싸고있는 li */
    transform: translate(-50%, -50%);
    /* 정중앙이동 */

    width: 70%;
    max-width: 250px;
    /* 최대크기지정 */
}

/* 박스별 로고 이미지 공통 */
.pack1>ul>li>img:last-child {
    top: 80%;
    width: auto;
}

/* 중앙타이틀 공통 */
.tit {
    /* 일반설정 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* 가로중앙이동 */
    width: 500px;
    height: 100px;
    /* border: 5px double #fff; */
}

/* 타이틀 하위 li */
.tit>li {
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    /* 원 */
    background-color: #f00;
    font: bold 14px/50px Verdana;
    color: #fff;
    text-align: center;
}

/* 타이틀1 */
.t1 {
    top: 5%;

    /* flex box 설정 */
    display: flex;

    /* flex 옵션 */
    justify-content: space-evenly;
    /* 
        justify-content 속성
        - 수평정렬속성 (justify 양쪽정렬의 뜻)
        1) flex-start : 왼쪽끝(기본값-normal)
        2) flex-end : 오른쪽 끝
        3) center : 중앙
        4) space-around : 아이템 요소 양쪽에 같은 간격
                            (마진과 유사함)
        5) space-between : 아이템 요소의 사이간격 일정
                            (처음과 끝이 구석에 붙어나옴)
        6) space-evenly : 아이템 요소의 양쪽과 사이간격 일정
                            (ie미지원 - 엣지최신버전 지원)

     */

    align-items: center;
    /* 
        align-items 속성
        - 수직정렬 속성(한줄로 셋팅된 경우!)
        1) flex-start : 맨위(기본값-normal)
        2) flex-end : 맨아래
        3) center : 세로중앙
        4) stretch : 세로방향 꽉채워서 늘림
                    (단, height 크기가 auto여야함!!!)
        5) baseline : 각 요소의 내부에 글자가 있다면
                    글자 아래쪽 기준선으로 정렬됨
                    (글자의 line-height를 변경해 보면됨)
      */

}

/* 타이틀2 */
.t2 {
    top: 20%;

    /* flex box 설정 */
    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

/* 하단로고바 */
.binfo {
    position: fixed;
    width: 100%;
    height: 47px;
    bottom: 0;
    background-color: #da041c;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}


/**************************** sec2 ****************************/

/* 슬라이드 1 */
.slide1 {
    position: absolute;
    width: 700px;
    height: 400px;
    outline: 2px solid red;
    top: 30%;
    left: 10%;
}

/* 슬라이드 2 */
.slide2 {
    position: absolute;
    width: 400px;
    height: 400px;
    outline: 2px solid red;
    top: 30%;
    right: 10%;
}

/**************************** sec3 ****************************/

.tm>ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.tm>li {
    float: left;
}


/* 전체부모박스 */
.wrap {
    position: relative;
    max-width: 80vw;
    max-height: 76vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(255 252 252 / 80%);
    border-radius: 20px;
    box-shadow: 0 0 10px #fff;
}

/* 타이틀 */
#tit {
    font-size: 3vw;
    margin: 0px;
    text-align: center;
    border-bottom: 3px double rgba(0, 0, 0, 0.665);
    padding-bottom: 2vh;
    text-shadow: 0 0 5px rgb(0 0 0 / 67%);
}

/* 프로젝트 박스 공통 */
.pjbx {
    width: 50%;
    float: left;
    padding: 15px;
    line-height: 5vh;
    /* 
     50%로 옆으로 흐르면 
     2개의 블록박스가 나란히 오는데
     이때 패딩을 주면 박스가 커지므로
     하나가 아래로 내려간다
     (50%넘으므로!)
     이때 해결책!!!
     보더나 패딩이 지정한 사이즈
     내부로 포함되게 하는속성이 있다
     box-sizing:border-box
  */
    box-sizing: border-box;
    /* 기본값은 content-box(커지는박스) */
}

/* 프로젝트 영역 타이틀 */
.pjbx h2 {
    font-family: 'Gugi', cursive;
    font-size: 2vw;
    color: steelblue;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.665);
    border-radius: 13px;
    text-shadow: 0 0 1px #000;
    box-shadow: 0 0 5px #000;
}

.cpj h2 {
    background-color: rgba(255, 231, 231, 0.44);
    line-height: 6vh;
}

.mpj h2 {
    background-color: rgba(217, 243, 255, 0.44);
    line-height: 6vh;
}

/* 각 박스의 ol리스트 */
.pjbx>ol {
    font-size: 24px;
    line-height: 6vh;
    /* 기본 ol셋팅 초기화 */
    margin: 0;
    padding: 0;
    list-style: none;
    /* 맨앞 표시자 없앰 */
    display: flex;
    flex-direction: column;
}

/* 각 박스의 li */
ol>li {
    margin-left: 40px;
    line-height: 70px;
}

ol>li:first-child {
    padding-top: 15px;
}

/* 각 박스의 a링크 */
.pjbx a {
    font-family: 'Gaegu', cursive;
    font-size: 2vw;
    color: #000;
    text-decoration: none;
    text-shadow: 0 0 5px #000;
    line-height: 50px;
    transition: .5s ease-in-out;
    margin-left: 10px;
}

/* 오버시 */
.pjbx li a:hover {
    color: steelblue;
    text-decoration: underline;
    /* 아랫줄 */
    font-size: 2.7vw;
    text-shadow: 0 0 1px #000;
}

.pjbx li a::before {
    position: absolute;
    content: "❤";
    font-size: 24px;
    margin-top: 1vh;
    margin-left: -2.2vw;
    color: steelblue;
    opacity: 0;
    transition: .5s ease-in-out;
    text-shadow: 0 0 1px #000;
}


.pjbx li a:hover::before {
    opacity: 1;
}



/* 세로 분류 선 만들기 */
.pjbx::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 0px;
    height: 70%;
    top: 26%;
    border-right: 5px dotted rgb(58, 58, 58);
}


/* 탭메뉴 */
.tm {
    position: relative;
    width: 12vw;
    height: 40px;
    top: -5vh;
    left: 66.5vw;
}

.tm>li {
    position: absolute;
    width: 5.5vw;
    height: 40px;
}

.tm li:nth-child(1) {
    left: 0;
}

.tm li:nth-child(2) {
    left: 5.5vw;
}

.tm>li>a {
    position: absolute;
    width: 100%;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    transition: .5s;

}

.tm>li:hover a {
    text-shadow: 0 0 1px #000;
    transform: scale(1.1);
    color: red;
}

/**************************** sec4 ****************************/


/* 스크롤 박스 */
.scroll {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 95%;
    left: 50%;
    transform: translate(-43%, -50%);
    border: 2px solid rgb(255 153 0);
    border-radius: 50%;
    cursor: pointer;
}

/* 스크롤 마우스 */
.scrollin {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    left: 50%;
    top: 5px;
    width: 14px;
    height: 20px;
    margin-left: -7px;
    border: 2px solid rgb(255 153 0);
    border-radius: 7px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.scrollin::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 35%;
    top: 2px;
    width: 4px;
    height: 4px;
    margin-left: -1px;
    border-radius: 2px;
    background-color: red;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    animation: k_scroll .5s linear infinite forwards alternate;
}

@keyframes k_scroll {
    to {
        top: 10px;
    }
}

.scroll a {
    margin-left: -15px;
    position: absolute;
    top: 30px;
    font-family: MyriadPro-Semibold;
    font-size: 12px;
    font-weight: bold;
    color: rgb(255 153 0);
    text-align: center;
    text-shadow: none;
}